# Log files
*.log

# Data files
*.dat

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.metadata
.loadpath
.recommenders